In [1]:
import numpy as np
import random as rn

Grupo 1

In [10]:
numero = int(input("Digite um número: "))
print("O dobro do valor digitado é: ", numero *2)

Digite um número: 5
O dobro do valor digitado é:  10

In [11]:
name = input("Digite seu nome: ")
print("Olá", name)

Digite seu nome: Erick
Olá Erick

In [12]:
numA = int(input("Digite um número: "))
numB = int(input("Digite outro número: "))
print("A soma dos dois números é: ", numA + numB)

Digite um número: 5
Digite outro número: 6
A soma dos dois números é:  11

In [14]:
decimal_num = float(input("Digite um número decimal: "))
integer_num = int(decimal_num)
print("O número inteiro é:", integer_num)

Digite um número decimal: 25.5896
O número inteiro é: 25

In [15]:
name = input("Digite seu nome: ")
age = int(input("Digite sua idade: "))
print("Olá", name, "você tem", age, "anos.")

Digite seu nome: Erick
Digite sua idade: 20
Olá Erick você tem 20 anos.

In [18]:
peso = input("Digite seu peso: ")
altura = input("Digite sua altura: ")
imc = float(peso) / (float(altura) ** 2)
print("Seu IMC é:", imc)

Digite seu peso: 130
Digite sua altura: 1.88
Seu IMC é: 36.781349026708924

In [24]:
numA = int(input("Digite um número: "))
print("A raíz quadrada do número digitado é", numA**2, "A raiz cúbica do número digitado é", numA**3)

Digite um número: 4
A raíz quadrada do número digitado é 16 A raiz cúbica do número digitado é 64

In [25]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
email = input("Digite seu email: ")
print("Olá", nome, "você tem", idade, "anos e seu email é", email)

Digite seu nome: Erick
Digite sua idade: 20
Digite seu email: erick.miguel@gmail.com
Olá Erick você tem 20 anos e seu email é erick.miguel@gmail.com

In [26]:
cidade = input("Digite o nome da sua cidade: ")
print("A cidade digitada foi", cidade)

Digite o nome da sua cidade: Campinas
A cidade digitada foi Campinas

In [27]:
nascimento = input("Digite o ano em que você nasceu: ")
idade = 2025 - int(nascimento)
print("Você tem", idade, "anos.")

Digite o ano em que você nasceu: 1984
Você tem 41 anos.

Grupo 2

In [30]:
num_str = input("Digite um número: ")
num_int = int(num_str)
print("O número convertido para inteiro é:", num_int)

Digite um número: 25
O número convertido para inteiro é: 25

In [31]:
num_float = float(input("Digite um número: "))
num_str = str(num_float)
print("O número convertido para string é:", num_str)

Digite um número: 25.5
O número convertido para string é: 25.5

In [34]:
numA_str = input("Digite um número: ")
numB_float = float(input("Digite outro número: "))
soma = float(numA_str) + numB_float
media = soma / 2
diferença = soma - numB_float*2
print("A soma dos dois números é:", soma)
print("A média dos dois números é:", media)
print("A diferença entre os dois números é:", diferença)

Digite um número: 5
Digite outro número: 2
A soma dos dois números é: 7.0
A média dos dois números é: 3.5
A diferença entre os dois números é: 3.0

In [35]:
num_str = input("Digite um número inteiro: ")
num_bol = bool(num_str)
print("O número convertido para booleano é:", num_bol)

Digite um número: 25
O número convertido para booleano é: True

In [38]:
num_float = float(input("Digite um número decimal: "))
round_num = round(num_float,2)
print("O número arredondado é:", round_num)

Digite um número decimal: 25.98764
O número arredondado é: 25.99

In [40]:
preço = float(input("Digite o valor do produto: "))
valor_final = round(preço)
print("O valor final do produto é:", valor_final)

Digite o valor do produto: 25.54
O valor final do produto é: 26

In [41]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
frase = "Meu nome é {} e eu tenho {} anos.".format(nome, idade)
print(frase)

Digite seu nome: Erick
Digite sua idade: 20
Meu nome é Erick e eu tenho 20 anos.

In [42]:
numA = int(input("Digite um número: "))
numB = int(input("Digite outro número: "))
numC = int(input("Digite mais um número: "))
soma = numA + numB + numC
media = float(soma / 3)
print("A soma dos três números é:", soma)
print("A média dos três números é:", media)

Digite um número: 2
Digite outro número: 5
Digite mais um número: 7
A soma dos três números é: 14
A média dos três números é: 4.666666666666667

In [43]:
valor = input("Digite um valor: ")
print("O tipo do valor é:", type(valor))

Digite um valor: 25
O tipo do valor é: <class 'str'>

In [44]:
texto = input("Digite algo (ou deixe vazio): ")
if texto:
    print("A string é considerada True")
else:
    print("A string é considerada False")

Digite algo (ou deixe vazio):
A string é considerada False

Grupo 3

In [45]:
from re import sub
numA = int(input("Digite um número: "))
numB = int(input("Digite outro número: "))
soma = numA + numB
subtração = numA - numB
multiplicação = numA * numB
divisão = numA / numB
print("A soma dos dois números é:", soma)
print("A subtração dos dois números é:", subtração)
print("A multiplicação dos dois números é:", multiplicação)
print("A divisão dos dois números é:", divisão)

Digite um número: 5
Digite outro número: 6
A soma dos dois números é: 11
A subtração dos dois números é: -1
A multiplicação dos dois números é: 30
A divisão dos dois números é: 0.8333333333333334

In [47]:
numA = int(input("Digite um número: "))
numB = int(input("Digite outro número: "))
divisão = int(numA / numB)
resto = numA % numB
print("A divisão dos dois números é:", divisão)
print("O resto da divisão dos dois números é:", resto)

Digite um número: 5
Digite outro número: 2
A divisão dos dois números é: 2
O resto da divisão dos dois números é: 1

In [48]:
numA = int(input("Digite um número: "))
numB = int(input("Digite outro número: "))
potencia = numA ** numB
print("A potência do primeiro número elevado ao segundo número é:", potencia)

Digite um número: 5
Digite outro número: 2
A potência do primeiro número elevado ao segundo número é: 25

In [49]:
NumA = int(input("Digite um número: "))
if NumA % 2 == 0:
    print("O número é par")
else:
    print("O número é ímpar")

Digite um número: 5
O número é ímpar

In [51]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))
media = round((nota1 + nota2 + nota3) / 3,2)
print("A média das notas é:", media)

Digite a primeira nota: 8.5
Digite a segunda nota: 7
Digite a terceira nota: 5
A média das notas é: 6.83

In [55]:
preço = float(input("Digite o preço do produto: R$ "))
desconto = preço * 0.95
preço_final = round(preço - desconto,2)
print("O preço do produto com desconto é: R$",desconto)

Digite o preço do produto: R$ 300
O preço do produto com desconto é: R$ 285.0

In [56]:
numA = int(input("Digite um número: "))
numB = int(input("Digite outro número: "))
if numA > numB:
    print("O primeiro número é maior que o segundo")
else:
    print("O segundo número é maior que o primeiro")

Digite um número: 8
Digite outro número: 9
O segundo número é maior que o primeiro

In [58]:
base = int(input("Digite a base do retângulo: "))
altura = int(input("Digite a altura do retângulo: "))
area = (base * altura)
print("A área do retângulo é:", area)

Digite a base do retângulo: 25
Digite a altura do retângulo: 6
A área do retângulo é: 150

In [59]:
valor = int(input("Digite um valor: "))
imposto = valor * 0.12
valor_final = valor + imposto
print("O valor final com o imposto é:", valor_final)

Digite um valor: 100
O valor final com o imposto é: 112.0

In [61]:
temp = float(input("Digite a temperatura em graus Celsius: "))
temp_f = (temp * 9/5) + 32
print("A temperatura em graus Fahrenheit é:", temp_f)

Digite a temperatura em graus Celsius: 21
A temperatura em graus Fahrenheit é: 69.8